.idea

dotty/.dotty_installation
config/git/.git-credentials
config/aws/.aws/credentials

# Installer tarballs should be included in the repository to be able to
# reproduce the same versions and installations, but we don't want to include
# all the unpacked files.]
*.tar.gz
*.deb
*.zip
*.zst
*.tar

# Other files
*.ttf
