# Rust & Rust Analzyer
[[language]]
name = "rust"
auto-format = true
rulers = [100]

[language-server.rust-analyzer.config]
cargo = { allFeatures = true }
procMacro = { enable = true }
imports = { granularity.group = "item", prefix = "by_crate" }

[language-server.terraform-ls]
command = "terraform-ls"
args = ["serve"]

[[language]]
name = "hcl"
language-servers = [
  { name = "terraform-ls" },
]

# Biome / TypeScript
[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[[language]]
name = "javascript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "typescript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "tsx"
auto-format = true
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "jsx"
auto-format = true
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "json"
language-servers = [ { name = "vscode-json-language-server", except-features = [ "format" ] }, "biome" ]

# Typst
[language-server.tinymist]
command = "tinymist"
config = { formatterMode = "typstyle" }

[[language]]
name = "typst"
language-servers = ["tinymist"]
rulers = [80]
formatter = { command = "typstyle" }
auto-format = true

[[language]]
name = "markdown"
rulers = [80]

[[language]]
name = "python"
auto-format = true
language-servers = [ { name = "ruff" }, { name = "ty" } ]
formatter = { command = "ruff", args = ["format", "-"] }

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[[language]]
name = "css"
language-servers = [ { name = "vscode-css-language-server" } ]
auto-format = true
