[user]
	name = Mats Larsen
	email = mats@jun.codes
	signingkey = 17C60B5359158F95
[credential]
	helper = store
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[ui]
	color = true
[alias]
	l1 = log --oneline
	s = status
	b = checkout -b
	ch = checkout
	pu = push -u
	undo = reset --soft HEAD~1
	sh = show HEAD
	rbm = rebase origin/main
	fh = log --patch
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
