[user]
	name = Mats Jun Larsen
	email = mats@jun.codes
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKJpRZoO8nAk/Xarpdi19rtXfBhiKBb4ujl6Ku18fACh
[gpg]
	program = gpg2
	format = ssh
[commit]
	gpgsign = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[ui]
	color = true
[alias]
	l1 = log --oneline
	l1f = log --oneline --no-abbrev-commit
	s = status
	undo = reset --soft HEAD~1
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
